.shopCart {
	margin-bottom: 20px;
}

.cardWrapper {
	border: 1px solid #1a6dbb;
	border-radius: 5px;
	padding: 10px;
	display: flex;
	gap: 30px;
	margin-bottom: 20px;
	background-color: #fff;
	position: relative;
	box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
	backdrop-filter: blur(6px);
}
.imgwrapper {
	border: 1px solid#1a6dbb;
	border-radius: 5px;
}
.imgwrapper img {
	width: 200px;
	height: 100px;

	object-fit: cover;
}
.details {
	display: flex;
	flex-direction: column;
	flex-grow: 1;

	gap: 20px;
}
.title {
	font-weight: 700;
	font-size: 20px;
}
.price {
	text-align: center;
}
.details input {
	text-align: center;
	border: 1px solid #1a6dbb;
	border-radius: 5px;
	height: 30px;
	width: 50px;
}

.inputWrapper button {
	font-size: 25px;
	margin: 0 5px;
	position: relative;
	bottom: 3px;
}
.counter {
	display: flex;
	justify-content: center;
}
.ggClose {
	color: rgb(189, 189, 189);
	position: absolute;
	top: 5px;
	right: 5px;
	box-sizing: border-box;
	cursor: pointer;
	display: block;
	transform: scale(var(--ggs, 1));
	width: 22px;
	height: 22px;
	border: 2px solid transparent;
	border-radius: 40px;
}
.ggClose::after,
.ggClose::before {
	content: '';
	display: block;
	box-sizing: border-box;
	position: absolute;
	width: 16px;
	height: 2px;
	background: currentColor;
	transform: rotate(45deg);
	border-radius: 5px;
	top: 8px;
	left: 1px;
}
.ggClose::after {
	transform: rotate(-45deg);
}
