.productCardList {
	flex-grow: 1;
	display: flex;
	gap: 20px;
	flex-wrap: wrap;

	border-radius: 5px;
	padding: 20px 10px;
	height: 90vh;
	overflow-y: auto;
}
.productCard {
	border: 1px solid #1a6dbb;
}
