.shopCartPage {
	display: flex;
	justify-content: space-between;
	gap: 20px;
}
.inputBlock {
	border: 1px solid #1a6dbb;
	border-radius: 5px;
	flex-grow: 1;
	max-width: 50%;
	padding: 20px 20px 100px 20px;
}
.inputItem {
	max-width: 500px;
}
.inputItem:not(:last-child) {
	margin-bottom: 40px;
}
.inputItem label {
	display: block;
	margin-bottom: 10px;
	font-size: 20px;
}
.inputItem input {
	border: none;
	outline: none;
	border-radius: 5px;
	width: 100%;
	height: 40px;
	font-size: 20px;
	background-color: #ccc;
	box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.3);
	transition: 300ms ease-in-out;
}
.inputItem input:focus {
	background-color: white;
	transform: scale(1.05);
	box-shadow: 13px 13px 100px #969696, -13px -13px 100px #ffffff;
}
.shopCart {
	flex-grow: 1;

	max-width: 50%;
	border: 1px solid#1a6dbb;
	border-radius: 5px;
	padding: 20px;
	overflow-y: auto;
	height: 80vh;
}
.footerForm {
	display: flex;
	justify-content: end;
	gap: 40px;
	height: 40px;
	margin-top: 20px;
}
.footerForm button {
	border: 1px solid #1a6dbb;
	border-radius: 5px;
	padding: 0px 40px;
}
.totalPrice {
	align-self: center;
}
