@import './css/reset.css';
.item-red {
	color: brown;

	background-color: rgb(168, 168, 168);
	padding: 10px;
	transition: all 0.3s;
}
.item-black {
	color: black;
	padding: 10px;
}
.main {
	display: flex;
	justify-content: space-between;
	gap: 30px;
}
.App {
	max-width: 1200px;
	margin: 0 auto;
}
