@import './css/reset.css';

.item-red {
	color: brown;
	transition: all 0.3s;
}
.item-black {
	color: black;
}
.main {
	display: flex;
	justify-content: space-between;
	gap: 30px;
	z-index: 1;
}
.App {
	max-width: 1200px;
	margin: 0 auto;
}
